body
{
    background-color: rgb(38, 214, 129);
}

.text
{
    text-align:   center;
    font-size:  larger;
    color:      white;
}

/*グラデーションになります*/

.gradient-background {
    background: linear-gradient(282deg,#1754c7,#40fb81,#3edbf8,#cac4c4,#b9ac27);
    background-size: 300% 300%;
    animation: gradient-animation 15s ease infinite;
  }
  
  @keyframes gradient-animation {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }

/*ボックスを作ります*/

  .box_Tag 
{
    padding: 0.5em 1em;
    margin: 2em 0;
    color: #232323;
    background: #fff8e8;
    border-left: solid 10px #ffc06e;
}

.box_Tag p
{
    margin: 0; 
    padding: 0;
}

.box_Pos
{
    width:    600px;
    position: absolute;
    right:    30px;
    top:      300px;
}

/*固定します*/

 .fixOb
 {
    position:   fixed;
    right:      40px;
    top:        40px;    
 }

.topOb
{
    position:    absolute;
    top:         1200px;
    z-index:     10;
}

/*板井さん*/

.normal-box1{
  margin: 1em 0;
  padding: 1em;
  background-color: #b3e5fc;
　width:    300px;
  position: absolute;
}

.normal-box p{
  margin: 0;
  padding: 0;
}
