body
{
    background-color: orange;
    
}

.title
{
    font-size:   50;
    

        }


.text
{
    img-align:  center;
    text-align:  left;
    font-size:  20;
    color:      black;
}

.normal-box1{
  margin: 1em 0;
  padding: 1em;
  background-color: #b3e5fc;
}

.normal-box p{
  margin: 0;
  padding: 0;
 width: 300px;
}
