body
{
    background-color: orange;
    
}

.title
{
    font-size:   50;
    

        }


.text
{
    img-align:  center;
    text-align:  left;
    font-size:  20;
    color:      black;
}

.normal-box1{
  margin: 1em 0;
  padding: 1em;
  background-color: #b3e5fc;
width: 300px;
}

.normal-box p{
  margin: 0;
  padding: 0;
 
}


.normal-box7{
  margin: 1em 0;
  padding: 1em;
  background: radial-gradient(800px, #ffebee, #e57373);
}

.normal-box7 p{
  margin: 0;
  padding: 0;
}
