body
{
    background-color: orange;
    
}

title
{
    text-align:  center;
    font-size:   largest;
    

        }

.text
{
    text-align:  left;
    font-size:  larger;
    color:      black;
}
